/* the global css part */

body{
    margin: 0;
    padding: 0;
}

/* homepage css part */


.main{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
}

.calculator{
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.pose{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
}

/* calculator layout css part */

.calculator__layout{
    margin: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.the__calculator{
    width: 100%;
    display: block;
}

.the__calculator td{
    text-align: center;
}

.the__calculator th{
    text-align: right;
}

